
/*Fiksing av Tabeller*/

/*Prøver a endre column header farge */

/*Endre på tablecol bakgrunnsfarge */
.column-header{
	-fx-background-color: #70dbdb;
	-fx-font-family: Futura;
	-fx-pref-height: 40px;
	-fx-border-width: 0.1em;
    -fx-border-color: white;
}

.table-cell {
    -fx-alignment: CENTER;
    -fx-background-color:#70dbdb;
    -fx-border-width: 0.1em;
    -fx-border-color: white;
    -fx-font-family: Futura;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-pref-height: 40px;
}

.table-row-cell {
    -fx-cell-size: 30px;
 
}

.my-scroll-bar {
	-fx-fit-to-height: true;
}

/*Changes related to the scroll bar */
.scroll-bar{
 -fx-background-color: #2B2D44;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: white;
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: white;
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: white;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: white;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: white;
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: white;
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: white;
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: white;
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,white,white;
}



/*Endrer på Utover knapp */
#athletesButton{
	-fx-background-radius : 11;
	-fx-background-color : #2B2D44;
	
}

#infoText{
	-fx-background-radius : 11;
	-fx-background-color :  #FFF2E5;
	-fx-text-fill: #2B2D44;
}

#infoText1{
	-fx-background-radius : 11;
	-fx-background-color :  #FFF2E5;
	-fx-text-fill: #2B2D44;
}

#selectAthlete{
	-fx-background-radius : 11;
	-fx-background-color : #2B2D44;
	
}




