
#athletesButton{
	-fx-background-radius : 11;
	-fx-background-color : #2B2D44;
	
}

#athletesTable{

}

#ColumnName{
	-fx-font: Futura;
}

#ColumnPhoneNumber{
	-fx-font: Futura;
}

#infoBut{
	-fx-background-radius : 11;
	-fx-background-color :  #FFF2E5;
}

#selectAthlete{
	-fx-background-radius : 11;
	-fx-background-color : #2B2D44;
	
}


/* 
.table-row-cell: odd{
	-fx-background-color: #2B2D44;
	-fx-font: Futura;
}

.table-row-cell: even{
	-fx-background-color: #2B2D44;
	-fx-font: Futura;
}

*/




