
body{
    font-family: "Avenir Next";
    font-family: "Avenir Next", Avenir, "Droid Sans", "DroidSansRegular", Corbel, Tahoma, Geneva, sans-serif;
    font-weight: 400;
    width: 100%;
    
    /* Removes scroll bar */
    overflow-x: hidden;
    overflow-y: hidden;
    
}


	/* Properties for map */
#map{
    width: 550px;
    height: 325px;
    margin-left: 0;
    margin-right: 0;
}
